@media (min-width: 64em) {
    .last-transaction {
        padding: 0;
    }

    .secction-transaction {
        padding: 1.5rem;
    }

    .div-transaction {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
        grid-template-rows: 1fr;
    }

    .p-numTra {
        display: flex;
    }
}

@media (min-width: 90em) {
    .home-container {
        margin: auto;
        max-width: 90em;
    }
}