.div-body-login {
    display: flex;
    flex-wrap: wrap;
}

.section-left {
    width: 100%;
}

.section-left-header {
    width: 100%;
}

.section-left-picture {
    object-fit: cover;
}

.section-left-picture img {
    width: 10rem;
    height: 7rem;
    object-fit: cover;
}

.section-left-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left-section p {
    font-weight: 500;
    margin: 0;
}

.section-left-section picture {
    display: none;
}

.section-right {
    width: 100%;
}

.form-login {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 2rem;
}

.form-login input {
    width: 100%;
    border: 2px solid #525252;
    margin-top: 1.5rem;
    border-radius: 4px;
    height: 2rem;
    padding: 0 .5rem;
    outline: none;
}

.text-1 {
    margin: 2.5rem 0;
    text-align: justify;
}

.text-1 a {
    text-decoration: none;
    color: #2b12e3
}

.form-login-button {
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #c7c7c7;
    height: 2rem;
    padding: 0 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.text-bottom {
    text-align: center;
    width: 100%;
}

.text-a-buttom {
    color: #ff0000;
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
}

footer picture {
    width: 100%;
}

footer img {
    margin-top: 1.5rem;
    width: 8rem;
    object-fit: cover;
    height: 8rem;
}

@media screen and (min-width: 31.25em) {
    .form-login input {
        max-width: 31.25em;
    }

    .text-1 {
        max-width: 27em;
    }
}