@media (min-width: 64em) {
    .transactions-container {
        flex-direction: column;
    }

    .div-h-transaction {
        height: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 90em) {
    .div-transactions-container {
        margin: auto;
        max-width: 90em;
    }
}