.div-transactions-container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-container {
    width: 100%;
    margin-top: 2rem;
}

.p-transactions {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.first-container a {
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 2rem;
    padding: .5rem;
    border-radius: 5px;
    color: black;
    background-color: rgba(216, 237, 242, 0.644);
}

.transactions-container {
    width: 90%;
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.644);
}

.div-h-transaction {
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 10px;
    background-color: rgba(171, 171, 171, 0.644);
}

.div-h-transaction p {
    margin-bottom: .2rem;
}

.arrow-container {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.arrow-container button {
    width: 3rem;
    height: 2rem;
    border-radius: 14px;
    border: 1px solid rgb(85, 85, 85);
    background-color: rgba(216, 237, 242, 0.644);
    cursor: pointer;
}
